*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #111519;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    
}